[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sentence-transformers = "*"
torch = "*"
sqlalchemy = "*"
tqdm = "*"

[dev-packages]
ipykernel = "*"
black = "*"
notebook = "*"

[requires]
python_version = "3.10"
